* {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  width: 700px;
  height: 850px;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  align-items: center;
  margin-top: 30px;
}

.wrapper_background {
  position: relative;
}

.color_block {
  width: 190px;
  height: 190px;
  background-color: rgb(250, 238, 217);
  margin: 0;
}

.color_block_up {
  position: absolute;
}
.color_block_down {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: 750px;
}

img {
  position: absolute;
  top: 62px;
  left: 70px;
  width: 180px;
}

.border {
  position: absolute;
  width: 180px;
  height: 220px;
  top: 35px;
  left: 35px;
  border: 7px solid rgb(251, 207, 130);
  z-index: 1;
}

/* header */

.header_block {
  position: relative;
  left: 330px;
  padding-top: 50px;
  width: 300px;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.6rem;
  margin-bottom: 25px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.text {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* contact */

.wrapper_contact {
  width: 600px;
  margin-top: 20px;
  height: 50px;
}
a {
  text-decoration: none;
  color: #000;
}

.contact {
  display: flex;
  list-style-type: none;
}

.contact li {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: 10px;
}

/* left block */

main {
  display: inline-block;
  width: 230px;
  float: left;
  margin-left: 70px;
}

.wrapper_main {
  display: flex;
  flex-direction: column;
}

.skills {
  margin: 0px;
}

.skills ul {
  list-style-type: none;
  margin-left: 20px;
}

.stars {
  color: rgb(243, 166, 33);
  font-size: 1rem;
}

.skills ul li {
  margin-top: 5px;
}

.main_block {
  margin: 0px 0px 15px 0px;
}

/* right block */

.code {
  display: inline-block;
  width: 300px;
  height: 50px;
  margin-left: 30px;
}

.text_code {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.05rem;
}
